@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --nav-open-width: 21rem;
    --side-nav-display: none;
    --header-height: 2.5rem;
    --bg-easy: 173 100% 36%;
    --bg-medium: 43 100% 56%;
    --bg-hard: 348 100% 61%;
  }

  .dark {
    --background: 220 32% 9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
  html:root {
    @apply [--side-nav-width:var(--nav-open-width)] smd:[--side-nav-width:0] [--side-nav-display:none];
  }

  @supports selector(::-webkit-scrollbar) {
    html.dark {
      body {
        &::-webkit-scrollbar {
          @apply w-3;
        }

        &::-webkit-scrollbar-track {
          @apply shadow-inner shadow-black;
        }

        &::-webkit-scrollbar-thumb {
          /* @apply bg-white/20 rounded-full; */
          background-color: hsl(var(--foreground) / 0.2);
          border-radius: 9999px;
          &:hover {
            background-color: hsl(var(--foreground) / 0.3);
          }
        }
      }
    }
  }
}

@layer base {
  * {
    @apply border-border focus:!ring-offset-0 focus:!ring-0 outline-none;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  main > div {
    @apply ssm:px-3 px-6;
  }
  .tabs-container .tabs {
    scrollbar-width: none;
  }

  .tabs-container .tab {
    @apply bg-[#2d2d2d] text-white/50 border-l-[#1e1e1e] border-l-[1px] rounded-none text-sm;
  }

  .tabs-container .tab.active {
    @apply bg-[#1e1e1e] text-white;
  }

  .tabs-container .tab:not(.active):hover {
    @apply text-white/80;
  }

  .tabs-container .tab .monacoMenuBtn {
    @apply w-full h-full py-2 px-1;
  }

  .tabs-container .tab .closeBtn {
    @apply p-1 rounded-md;
  }

  .tabs-container .tab .closeBtn:hover {
    background-color: #434343;
    color: #ffffff;
  }

  .button {
    @apply no-underline inline-flex items-center justify-center px-4 py-2 border rounded-md shadow-sm text-sm font-medium hover:bg-white/10 transition-colors;
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    box-shadow: none;
    transform: scale(0.8) translateY(15vh);
  }
}
@keyframes grow {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
#stepArticle {
  /* --bottom-padding: 15vh; */
  --bottom-padding: 0;
  padding-bottom: var(--bottom-padding);
  & > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  li:not(:has(li)),
  > ul > li > p,
  > code,
  > pre,
  > div {
    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: view()) {
        /* animation-name: slide-fade-in;
        animation-fill-mode: both;
        animation-duration: 1ms;
        animation-timing-function: linear;
        animation-timeline: view();
        animation-range: contain 0% contain var(--bottom-padding); */
      }
    }
  }
}
